Source: golang-github-xenolf-lego
Section: golang
Priority: optional
Maintainer: Debian Go Packaging Team <team+pkg-go@tracker.debian.org>
Uploaders: Dmitry Smirnov <onlyjob@debian.org>
          ,Zlatan Todorić <zlatan@debian.org>
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13),
               dh-sequence-golang,
               golang-any (>= 2:1.18~),
    golang-github-akamai-akamaiopen-edgegrid-golang-dev,
    golang-github-aws-aws-sdk-go-dev,
#   golang-github-azure-azure-sdk-for-go-dev,
    golang-github-burntsushi-toml-dev (>= 1.2.0),
    golang-github-cenkalti-backoff-dev (>= 4.1.3),
    golang-github-urfave-cli-v2-dev,
    golang-github-google-go-querystring-dev,
    golang-github-jamesclonk-vultr-dev,
    golang-github-miekg-dns-dev (>= 1.1.50),
    golang-github-nrdcg-desec-dev (>= 0.6.0),
    golang-github-nrdcg-goinwx-dev (>= 0.8.1),
    golang-github-ovh-go-ovh-dev,
    golang-github-pquerna-otp-dev (>= 1.3.0),
    golang-github-stretchr-testify-dev (>= 1.7.0),
    golang-github-vultr-govultr-dev (>= 2.7.1),
    golang-github-weppos-dnsimple-go-dev,
    golang-golang-x-crypto-dev,
    golang-golang-x-net-dev,
    golang-golang-x-oauth2-google-dev,
    golang-google-api-dev,
    golang-gopkg-square-go-jose.v2-dev,
    golang-sslmate-src-go-pkcs12-dev,
    tzdata,
Testsuite: autopkgtest-pkg-go
Standards-Version: 4.6.2
Homepage: https://github.com/go-acme/lego
Vcs-Browser: https://salsa.debian.org/go-team/packages/golang-github-xenolf-lego
Vcs-Git: https://salsa.debian.org/go-team/packages/golang-github-xenolf-lego.git
XS-Go-Import-Path: github.com/go-acme/lego

Package: golang-github-xenolf-lego-dev
Provides: golang-github-go-acme-lego-dev
Architecture: all
Multi-Arch: foreign
Depends: ${misc:Depends},
    golang-github-akamai-akamaiopen-edgegrid-golang-dev,
    golang-github-aws-aws-sdk-go-dev,
#   golang-github-azure-azure-sdk-for-go-dev,
    golang-github-burntsushi-toml-dev (>= 1.2.0),
    golang-github-cenkalti-backoff-dev (>= 4.1.3),
    golang-github-urfave-cli-v2-dev,
    golang-github-google-go-querystring-dev,
    golang-github-jamesclonk-vultr-dev,
    golang-github-miekg-dns-dev (>= 1.1.50),
    golang-github-nrdcg-desec-dev (>= 0.6.0),
    golang-github-nrdcg-goinwx-dev (>= 0.8.1),
    golang-github-ovh-go-ovh-dev,
    golang-github-pquerna-otp-dev (>= 1.3.0),
    golang-github-stretchr-testify-dev (>= 1.7.0),
    golang-github-vultr-govultr-dev (>= 2.7.1),
    golang-github-weppos-dnsimple-go-dev,
    golang-golang-x-crypto-dev,
    golang-golang-x-net-dev,
    golang-golang-x-oauth2-google-dev,
    golang-google-api-dev,
    golang-gopkg-square-go-jose.v2-dev,
    golang-sslmate-src-go-pkcs12-dev,
Description: Let's Encrypt ACME library
 Let's Encrypt ACME library written in Go.

Package: lego
Architecture: any
Section: admin
Static-Built-Using: ${misc:Static-Built-Using}
Depends: ${shlibs:Depends},
         ${misc:Depends}
    ,ca-certificates
Description: Let's Encrypt client
 Let's Encrypt client written in Go.
